@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

body {
  margin: 0;
  font-family: 'nasalization-rg', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0px 0px 2px;
  height: 100vh;
}
@font-face {
  font-family: 'nasalization-rg';
  src: local('nasalization-rg'),
    url(./assets/nasalization-rg.ttf) format('truetype');
}
