body {
  margin: 0;
  font-family: 'nasalization-rg', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
@font-face {
  font-family: 'nasalization-rg';
  src: local('nasalization-rg'),
    url(./assets/nasalization-rg.ttf) format('truetype');
}
